<% if @movie %>
  <h1>Movie data:</h1>
  <div class="movie-container">
    <img src="<%= "/movie-pics/img_#{@movie.id}.jpg" %>" class="movie-picture"/>
    <div class="movie-details">
      <div>Id: <%= @movie.id %></div>
    	
      <strong>Title:</strong>
      <div><%= @movie.title %></div>
      
      <strong>Year:</strong>
      <div><%= @movie.year %></div>
      
      <strong>Description:</strong>
      <div><%= @movie.description %></div>
      
      <strong>Genre:</strong>
      <div><%= @movie.genre %></div>
    </div>
    <div class="clear-fix"></div>
  </div>
  
<% else %>
  <p>No such movie found.</p>
<% end %>

<p>Actor ids:</p>
<% @all_data.each do |data| %>
  <div><%= data.celebrity_id %>: <%= data.celebrity.name %></div>
<% end %>
