<% if @celebrities.any? %>
  <h1>All celebrities:</h1>
  <div class="all-celebrities">
    <% @celebrities.each do |celebrity| %>
      <div class="celebrity-container">
        <img src="<%= "/celebrity-pics/img_#{celebrity.id}.jpg" %>" class="celebrity-picture"/>
        <div class="celebrity-details">
        	
          <strong>Name:</strong>
          <div>
          	<a href="<%= "/celebrities/#{celebrity.id}"%>"><%= celebrity.name %></a>
          </div>
          
          <strong>Nacionality:</strong>
          <div><%= celebrity.nacionality %></div>
          
          <strong>Birthday:</strong>
          <div><%= celebrity.birthday.strftime('%d.%m.%Y') %></div>
          
          <strong>Gender:</strong>
          <div><%= celebrity.gender %></div>
        </div>
        <div class="clear-fix"></div>
      </div>
    <% end %>
  </div>
  
<% else %>
  <p>No celebrities available.</p>
<% end %>
