<% if @users.any? %>
  <h1>All users:</h1>
  <table class="users-data">
  	<tr>
  		<th>Id</th>
  		<th>User</th>
  		<th>Emain</th>
  		<th>Is admin</th>
  	</tr>
  	<% @users.each do |user| %>
      <tr>
      	<td><%= user.id %></td>
      	<td>
      		<a href="/users/<%= user.id %>"><%= user.username %></a>
      	</td>
      	<td><%= user.email %></td>
      	<td><%= user.is_admin ? "Yes" : "No" %></td>
      </tr>
    <% end %>
  </table>
  
<% else %>
  <p>No users available.</p>
<% end %>
